<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--配置服务器-->
    <bean id="server" class="com.fw.server.HelloServer" scope="prototype">
        <constructor-arg value="6600"/>
    </bean>

    <!--配置客户端-->
    <bean id="client" class="com.fw.client.HelloClient" scope="prototype">
        <constructor-arg value="localhost"/>
        <constructor-arg value="6600"/>
        <property name="TIME_OUT" value="3000"/>
    </bean>

    <bean id="notify" class="com.fw.notify.NotifyUtil"/>

    <!--通知-->
    <aop:config >
        <aop:aspect ref="notify">
            <aop:before pointcut="execution(* com.fw.client.HelloClient.start(..))" method="beforeReq" />
            <aop:after pointcut="execution(* com.fw.client.HelloClient.start(..))"  method="afterReq"/>
        </aop:aspect>
    </aop:config>

</beans>